# Opertors in Python

The Basic Type of opertors in python:
1-Arithmatic operators
2-Relationship operator

In [1]:
print(2>3)
print(4<2)
print(4!=4)

False
False
False

In [2]:
number1 = float(input("Enter number1: "))
number2 = float(input("Enter number2: "))
print('The Result of the given numbers:',number1>number2)
print('The Result of the given numbers:',number1<number2)
print('The Result of the given numbers:',number1==number2)
print('The Result of the given numbers:',number1!=number2)
print('The Result of the given numbers:',number1>=number2)
print('The Result of the given numbers:',number1<=number2)

Enter number1: 100
Enter number2: 40
The Result of the given numbers: True
The Result of the given numbers: False
The Result of the given numbers: False
The Result of the given numbers: True
The Result of the given numbers: True
The Result of the given numbers: False

In [3]:
number1 = float(input("Enter number1: "))
number2 = float(input("Enter number2: "))
number3 = float(input("Enter number3: "))

print(number1>number2>number3)

Enter number1: 30
Enter number2: 7
Enter number3: 9
False

In [4]:
number1=True
number2=True
number2 and number1

True

In [5]:
number1=False
number2=False
number2 or number1

False

In [6]:
not number1

True

In [7]:
number1 = bool(input("Enter first boolen Input: "))
number2 = bool(input("Enter Second boolen Input: "))
print("The Result of 2 Inputs of AND gate is ", number1 and number2)

Enter first boolen Input: True
Enter Second boolen Input: False
The Result of 2 Inputs of AND gate is  True

In [14]:
a = "Python"
b = ""
a and b

''

In [15]:
a = ""
b = "Python"
a or b

'Python'

# Assignment Operators

In [25]:
number = 10
number+=5
print(number)

15

In [27]:
number =10
number = number+5
number

15

In [29]:
# Assigning the values to variables
a = 15
b = 5
# Simple assignment operator
b = a
print('b = a: ',b)
# ADD AND operator
b += a
print('b += a: ', b)
# SUBTRACT AND operatpr
b -= a
print('b -= a: ', b)
# MULTIPLICATION AND operator
b *= a
print('b *= a: ', b)
# DIVISION AND operator
b /= a
print('b /= a: ', b)
# FLOOR AND operator
b //= a
print('b //= a: ', b)
# MODULUS AND operator
b %= a
print('b %= a: ', b)
# EXPONENT AND operator
b **= a
print('b **= a: ', b)
# LESS THAN AND operator
b <= a
print('b <= a: ', b)
# GREATOR THAN AND operator
b >= a
print('b >= a: ', b)
# BINARY AND operator
a &= 5
print('a &= 5: ', a)
# BINARY OR operator
a |= 5
print('a |= 5: ', a)

b = a:  15
b += a:  30
b -= a:  15
b *= a:  225
b /= a:  15.0
b //= a:  1.0
b %= a:  1.0
b **= a:  1.0
b <= a:  1.0
b >= a:  1.0
a &= 5:  5
a |= 5:  5

In [44]:
a=5
b=5
print(a is b)
print(id(a))
print(id(b))

True
140731778607024
140731778607024

In [38]:
a=5
b=4
a is not b

True

In [53]:
x ='abc'
x is x

True

In [54]:
a= 'today is saturday'
b= 'today is saturday'
print(a is a)
print(id(a))
print(id(b))

True
2171520152800
2171520152720

In [57]:
name = ["Farooq",'Jibran','Ahmed','Aliza']

In [59]:
'Farooq' not in name

False

In [61]:
# Assigning a string value to a variable
a = "Python"
# Type of the variable
print(type(a))
# Checking whether 'y' is present in the variable a or not
print('y' in a)
# Checking whether 'P' is present in the variable a or not
print('P' not in a)

<class 'str'>
True
False